<div class="row">
  <div class="col">
    <h2 class="articleTitle" id="{{id}}">{{title}}</h2>
    <h3>Author: {{user.name}}</h3>
    <h4>{{format_date date_created}}</h4>
    <p>{{article_body}}</p>
  </div>
</div>
<div class="row">
    <div class="col">
      <h3>Comments</h3>
      <div class="row">
        {{#each comments as |comment| }}
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{comment.user.name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{format_date comment.date_created}}</h6>
                <p class="card-text">{{comment.comment_body}}</p>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2 class="commenter" id="{{sessionUser.id}}">Leave a Comment:</h2>
    </div>
</div>
<form class="form comment-form">
  <div class="form-group">
    <label for="comment-body">Comment:</label>
    <input class="form-input" type="text" id="comment-body"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Post Comment</button>
  </div>
</form>

<script src="../js/submitComment.js"></script>